@charset "UTF-8";
html {
    font-size: 14pt;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
input {
    width: 30em;
}

input[type="submit"], .submit-button {
    margin: 1em 0;
}

body {
    margin: 1em 2em;
}